body
{
    width: 95%;
    text-align: center;
    font-family: Arial, Helvetica;
}

body > header
{
    height: 200px;
    background-image: url("../images/bgsky3.jpg");
    background-size: cover;
    color: darkblue;
    box-sizing: border-box;


}

body > header img
{

    position: relative;
    padding-right: 90px;
    padding-bottom: 60px;
    bottom: 75%;
    left: 10%



}

header p
{
    font-size: 300%;
    font-style: italic;
    font-weight: bold;

}

header p:nth-child(2)
{
    font-size: 240%;
    font-weight: bold;

}

aside
{
    width: 25%;
    display: inline-block;
    float: right;
    background-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
}

aside p
{
    color: #666666;
    font-size: 90%;
    padding-right: 10px;
    padding-left: 10px;
}

aside h3
{
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align: center;
}

main
{
    width: 75%;
}

main > div:first-of-type
{
    background-color: white;
    color: black;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}

main > figure
{
    padding-top: 20px;
    display: inline-block;
    float: left;
}

main > div
{
    background-color: #999999;
    text-align: left;
}

div figure
{
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 200px;
    display: inline-block;
}





div figure img
{
    width: 180px;
    height: 180px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-color: #999999;
    border-width: 1px;
    border-style: dashed;
}

footer, footer a:link
{
    background-color: #666666;
    color: white;
    line-height: 2em;
}

footer figure
{
    margin-left: 120px;
    display: inline-block;
}

footer figure:first-of-type
{
    float: left;
}

footer a:hover
{
    color: red;
}

footer li
{
    text-align: left;
}

nav
{
    text-align: left;
}

